<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpp.dao.MeasureDao">
    <select id="getAllMeasure" resultType="com.wpp.pojo.Measure">
        SELECT * FROM Measure;
    </select>
</mapper>

